.light {
  --bkground1: rgb(40, 55, 25);
  --bkground2: rgb(100, 110, 55);
  --bkground-content: rgb(255, 250, 225);
  --border-color: black;
  --text-color: #fff;
  --details1: rgb(190, 110, 40);
  --details2: rgb(220, 160, 95);
  --smoke: rgb(75, 175, 80);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bkground-content);
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  height: 32px;
  background-color: var(--bkground1);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/header/background-header.png) center / cover no-repeat;
  color: #fff;
  text-align: center;
  height: 250px;
}
.header section {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 20px;
  height: 100%;
}
.header h1 {
  font-size: 100px;
  line-height: 70px;
  font-weight: 300;
  letter-spacing: 6px;
  font-family: "Zen Tokyo Zoo";
}

.search {
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px 8px;
  width: 30%;
  max-width: 250px;
}
.search input {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
.search span {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--bkground2);
  box-shadow: 0 2px 4px var(--bkground1);
}
.navbar a {
  color: var(--text-color);
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  border-radius: 10px;
  width: 150px;
}
.navbar a:hover {
  box-shadow: 0 1px 2px var(--bkground1);
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 300px);
}
.container h2 {
  text-align: center;
  font-size: 2em;
  color: var(--smoke);
}

footer {
  background-color: var(--bkground2);
  color: var(--text-color);
}
.footer-content {
  display: flex;
  justify-content: space-between; 
  padding: 10px 10px;
  background-color: var(--bkground2);
}
.footer-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}
.footer-section h3{
  font-family: "Zen Tokyo Zoo";
  font-weight: 100;
  letter-spacing: 4px;
}
.footer-socials {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
  gap: 20px;
}
.footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: 4px;
  padding: 10px;
}
.footer-socials a[uk-icon="instagram"]:hover {
  background: linear-gradient(130deg,#515BD4,#8134AF,#DD2A7B,#FEDA77,#F58529);  
}
.footer-socials a[uk-icon="facebook"]:hover {
  background-color: rgb(60, 90, 152);
}
.footer-socials a[uk-icon="linkedin"]:hover {
  background-color: rgb(15, 120, 170);
}
.footer-socials a[uk-icon="whatsapp"]:hover {
  background-color: rgb(65, 195, 80);
}
.footer-socials a[uk-icon="x"]:hover {
  background-color: rgb(255, 255, 255);
}
.footer-socials a[uk-icon="tiktok"]:hover {
  background-color: rgb(255, 255, 255);
}
.footer-right {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: var(--bkground1);
  font-size: 14px;
  gap: 10px;
}

.link-acess {
  color: var(--text-color);
  text-decoration: none;
}
.link-acess:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .navbar a {
    padding: 10px;
    font-size: 1rem;
  }
}
